/* Fonts ROBOTO */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

/* Fonts OXYGEN */

@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Arial", sans-serif;
}


/* ::-webkit-scrollbar {
    width: 8px;
} */


/* ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px #808080;
    border-radius: 10px;
} */


/* Handle */


/* ::-webkit-scrollbar-thumb {
    background: #ff0000;
    border-radius: 10px;
} */


/* Handle on hover */


/* ::-webkit-scrollbar-thumb:hover {
    background: #f10000;
} */

hr {
    background-color: #4c4c4c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Oxygen", sans-serif;
}

.padding {
    padding: 12px;
}

.padding-6 {
    padding: 6px;
}


/* NAVBAR */

.navbar .navbar-left .img-logo {
    width: 50px;
}

.navbar .navbar-collapse .nav-link {
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    letter-spacing: 1px;
}

.navbar .navbar-collapse .dropdown-menu {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .4px;
}


/* BACKGROUND NAVBAR BOTTOM */

.container-area {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-img-homepage {
    /* The image used */
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5)), url("../images/homepage.jpg");
    height: 350px;
    width: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Needed to position the navbar */
    position: relative;
}

.glow {
    font-size: 54px;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

.marquee {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ff0000;
    font-family: "Roboto", sans-serif;
}


/* SECTION ON STYLES */

.section-content .row-section-content .title-section-content,
.section-content .row-section-with-ads .title-section-content {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 0px 10px 5px;
    font-family: 'Arial', sans-serif;
    border-bottom: 1.4px solid #0000003a;
}

.section-content .row-section-content .span-section-content a {
    font-size: 27px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Arial', sans-serif;
}

.section-content .row-section-content .span-section-content a:hover {
    text-decoration: none;
}

.section-content .row-section-content .img-section-content {
    padding: 0;
}

.section-content .row-section-content .img-section-content img {
    width: 100%;
    height: auto;
}

.section-content .row-section-content .carousel-inner img {
    width: 100%;
    height: 100%;
    /* background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)); */
}

.section-content .row-section-content .carousel-inner .carousel-caption h5 {
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
    font-family: 'Arial', sans-serif;
}

.section-content .row-section-content .col-right-column .row-right-column {
    border-left: 1.4px solid #0000003a;
}

.section-content .row-section-content .col-right-column .row-right-column .title-section-content {
    margin-left: 15px;
}

.section-content .row-section-content .col-right-column .row-right-column .img-right-column img {
    width: 280px;
    height: 160px;
}

.section-content .row-section-with-ads .col-section-with-ads .img-second-with-ads img {
    width: 100%;
    height: auto;
    opacity: 1;
}

.section-content .row-section-with-ads .col-section-with-ads .img-second-with-ads img:hover {
    opacity: 0.75;
}

.section-content .row-section-with-ads .col-section-with-ads .row-first-without-ads .img-left-without-ads img {
    width: 100%;
    height: 190px;
}

.section-content .row-section-content .col-right-column .row-right-column .span-right-column .link-right-column,
.section-content .row-section-with-ads .col-section-with-ads .row-first-without-ads .span-left-without-ads .link-left-without-ads {
    color: #4c4c4c;
    font-weight: 600;
    font-size: 18px;
    text-transform: capitalize;
}

.section-content .row-section-content .col-right-column .row-right-column .span-right-column .link-right-column:hover,
.section-content .row-section-with-ads .col-section-with-ads .row-first-without-ads .span-left-without-ads .link-left-without-ads:hover {
    color: #000000;
    text-decoration: none;
}


/* footer */

.footer {
    background: url("../images/icon/backgroud-footer.png");
    background-size: cover;
    background-position: center;
    padding: 20px;
}

.footer .col-footer-logo {
    padding: 20px;
}

.footer .logo-in-footer {
    background-color: #2f3640;
    width: 140px;
}

.footer .support-link,
.footer .contact,
.footer .location {
    color: #1b1b1b;
    font-size: 28px;
    letter-spacing: 1px;
    border-bottom: 1.4px solid #0000003a;
    font-weight: 600;
    font-family: 'Arial', sans-serif;
}

.footer .col-footer li,
.footer .col-footer li a {
    color: #4c4c4c;
}

.footer .col-footer li a {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

.footer .col-footer .icon-support-link a {
    color: #4c4c4c;
}

.footer .col-footer .icon-support-link a:hover,
.footer .col-footer li a:hover {
    color: #000000;
    text-decoration: none;
}

.footer .col-footer .icon-support-link i {
    position: relative;
    text-align: center;
    width: 44px;
    height: 40px;
    border: 1px solid #000000;
    padding: 10px;
    border-radius: 50%;
    font-size: 20px;
}

.footer .col-footer p {
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.footer .col-footer p b {
    color: #ff0000;
}

.footer .logo-country {
    width: 90px;
}

.footer .copyright {
    text-align: center;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}


/* Button Scroll Up */

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 15px;
    border: none;
    outline: none;
    background-color: #fff;
    color: #000000;
    cursor: pointer;
    padding: 6px;
    border-radius: 50%;
}

button img {
    width: 50px;
    height: 50px;
}

@media screen and (max-width: 1200px) {
    .section-content .row-section-with-ads .col-section-with-ads .row-first-without-ads .img-left-without-ads img {
        width: 100%;
        height: 160px;
    }
    .section-content .row-section-content .carousel-inner .carousel-caption h5 {
        font-size: 19px;
    }
    .section-content .row-section-content .span-section-content a {
        font-size: 23px;
    }
    .glow {
        font-size: 47px;
    }
    .marquee {
        font-size: 15px;
    }
}

@media screen and (max-width: 991.20px) {
    .section-content .row-section-content .col-right-column .row-right-column .img-right-column img,
    .section-content .row-section-with-ads .col-section-with-ads .row-first-without-ads .img-left-without-ads img {
        width: 100%;
        height: 180px;
    }
    .section-content .row-section-content .col-right-column .row-right-column .title-section-content {
        margin-left: 0;
    }
    .section-content .row-section-content .col-right-column .row-right-column {
        border-left: 0px;
    }
    .section-content .row-section-content .carousel-inner .carousel-caption h5 {
        font-size: 24px;
    }
    .section-content .row-section-content .span-section-content a {
        font-size: 24px;
    }
    .glow {
        font-size: 46px;
    }
    .marquee {
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    .section-content .row-section-content .col-right-column .row-right-column .img-right-column img,
    .section-content .row-section-with-ads .col-section-with-ads .row-first-without-ads .img-left-without-ads img {
        width: 100%;
        height: 140px;
    }
    .section-content .row-section-content .carousel-inner .carousel-caption h5 {
        font-size: 20px;
    }
    .section-content .row-section-content .span-section-content a {
        font-size: 20px;
    }
    .glow {
        font-size: 44px;
    }
    .marquee {
        font-size: 12px;
    }
}

@media screen and (max-width: 567px) {
    .section-content .row-section-content .col-right-column .row-right-column .img-right-column img,
    .section-content .row-section-with-ads .col-section-with-ads .row-first-without-ads .img-left-without-ads img {
        width: 100%;
        height: 260px;
    }
}